@keyframes shine {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}



@keyframes rotar {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

/* General Styles */
:root {
    --background-body: linear-gradient(145deg, #d1a7a0, #f5d0d8, #d1a7a0);
    --background-head: linear-gradient(135deg, rgb(22, 22, 22, 25%), #cecdcd, #2120205c, #4f4d4d8f); 
    --white-glow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff;
    --pink-glow: 0 0 42px #d1a7a0, 0 0 82px #d1a7a0,  0 0 92px #d1a7a0,  0 0 102px #d1a7a0,  0 0 151px #d1a7a0;
    --font-color: rgb(95, 70, 7);
}

body {
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--font-color);
    background-color: #e6e4e4; /* Añadí un fondo claro para una mejor lectura */
}

 h2, h3 {
    margin: 0;
    padding: 0;
    color: #8a200f;
}

.container {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    li {
        margin: 0 15px;
    
        a {
            text-decoration: none;
            color: #333;
            font-weight: bold;
        }
    }
}

section:nth-child(even) {
    background: var(--background-body);
    animation: shine 2s infinite linear;
}

/* Header */

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    background: var(--background-head);
    background-size: 200% 110%; 
    animation: shine;
    font-size: 1.2rem;

    h1 {
        font-size: 2.5rem;
        padding: .5rem 0;
        color: #d1a7a0;
        text-shadow: var(--white-glow);
    }

    

    nav {
        background-color: transparent !important;;
        ul {
            justify-content: flex-end;
        }
    }
}


/* Hero Section */

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    background: var(--background-body);

    .text-content {
        max-width: 50%;
    }

    h2 {
        font-size: 36px;
        margin-bottom: 20px;
    }

    .btn {
        display: inline-block;
        padding: 10px 20px;
        background: #cd557c;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        margin-top: 20px;
    }

    img {
        max-width: 40%;
        height: auto;
        border-radius: 25px;
    }
}

/* About Section */
#about {
    height: 400px;
    text-align: center;
    padding: 50px 0;

    h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .btn {
        display: inline-block;
        padding: 10px 20px;
        background: #cd557c;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
    }

    .container {
        justify-content: space-around;
        max-width: 90%;
    }

    /* Carousel Section */

    #carrousel {
        text-align: center;
        display: flex;
        justify-content:center;
        align-items: center;
        padding: 0;
        width: 50%;

        .content-all {
            width: 220px;
            margin: 0 auto;
            perspective: 1000px;
            position: relative;
        }

        .content-carrousel {
            width: 100%;
            position: absolute;
            animation: rotar 20s infinite linear;
            transform-style: preserve-3d;

            figure {
                width: 78%;
                height: 120px;
                overflow: hidden;
                position:absolute;
                box-shadow: 0px 0px 20px 0px black;
                transition: all 300ms;

                &:hover {
                    box-shadow: 0px 0px 20px 0px black;
                    transition: all 300ms;
                }
            }

            figure:nth-child(1) {
                transform: rotateY(0deg) translateZ(300px);
            }

            figure:nth-child(2) {
                transform: rotateY(32.72deg) translateZ(300px);
            }

            figure:nth-child(3) {
                transform: rotateY(65.45deg) translateZ(300px);
            }

            figure:nth-child(4) {
                transform: rotateY(98.18deg) translateZ(300px);
            }

            figure:nth-child(5) {
                transform: rotateY(130.90deg) translateZ(300px);
            }

            figure:nth-child(6) {
                transform: rotateY(163.63deg) translateZ(300px);
            }

            figure:nth-child(7) {
                transform: rotateY(196.36deg) translateZ(300px);
            }

            figure:nth-child(8) {
                transform: rotateY(229.09deg) translateZ(300px);
            }

            figure:nth-child(9) {
                transform: rotateY(261.81deg) translateZ(300px);
            }

            figure:nth-child(10) {
                transform: rotateY(294.54deg) translateZ(300px);
            }

            figure:nth-child(11) {
                transform: rotateY(327.27deg) translateZ(300px);
            }

            figure:nth-child(12) {
                transform: rotateY(360deg) translateZ(300px);
            }

            img {
                width: 220px;
                height: 170px;
                transition: all 300ms;

                &:hover {
                    transform: scale(1.3);
                    transition: all 300ms;
                }
            }

            &:hover {
                animation-play-state: paused;
                cursor: pointer;
            }
        }
    } 
}

/* Services Section */
#services {
    text-align: center;
    color: rgb(95, 70, 7);
    padding: 50px 0;

    h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    span {
        color: #d13c6c;
    }
}

/* Testimonials */
#testimonials {
    padding: 50px 0;
    text-align: center;

    h2 {
        margin: 2rem 0
    }

    .container {
        flex-direction: column;
    }

    span {
        display: block;
        margin-top: 10px;
        font-weight: bold;
    }

    blockquote {
        padding: 2rem;
        background-color: rgba(211, 211, 211, 0.722);
        border-radius: 15px;
    }
}


.reservation-container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    label {
        display: block;
        margin: 10px 0 5px;
        font-weight: bold;
    }

    select, input, button {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    button {
        background-color: #007BFF;
        color: white;
        border: none;
        cursor: pointer;
    }

    button:hover {
        background-color: #0056b3;
    }
}

/* El modal está oculto por defecto */
.modal {
    display: none; /* Inicialmente oculto */
    position: fixed; /* Fijo en la pantalla */
    z-index: 1; /* Asegura que el modal esté por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ocupa toda la pantalla */
    height: 100%; /* Ocupa toda la pantalla */
    overflow: auto; /* Habilita el desplazamiento si es necesario */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro y semi-transparente */
}

/* Contenido del modal */
.modal-content {
    background-color: rgba(227, 226, 226, 0.85)!important;
    margin: 15% auto; /* Centrado */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Puede ajustar el ancho */
    max-width: 750px; /* Ancho máximo */
}
.modal-dialog.modal-small-custom {
    max-width: 750px; /* Aumenta el ancho del modal */
    
}

.modal-body iframe {
    height: 390px; /* Incrementa la altura del iframe */
    width: 100%; /* Asegúrate de que ocupe todo el ancho del modal */
}



/* Botón de cierre */
.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Maps section*/

.contenedCor_principal {
    padding: 20px;
    max-width: 1440px;
    margin: 0 auto;
    /* Estilos para secciones internas */
    > * {
        margin-bottom: 20px;
    }
    
    @media (min-width: 1024px) {
        padding: 40px;
    }
}

#map {
    text-align: center;
    background-color: rgba(238, 236, 236, 0.636);

    /* Contenedor para Información y Mapa */
    .infoMapContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: stretch;
        
        @media (min-width: 768px) {
            flex-direction: row;
            gap: 30px;
        }

        /* Estilos específicos para OperatingHours */
        .operatingHours {
            flex: 0 0 250px; /* Alineado con el max-width de OperatingHours.module.scss*/
            max-width: 250px;
        }

        /* Estilos para el iframe del mapa */
        iframe {
            flex: 1; /* El mapa ocupa el espacio restante*/
            margin: 0 auto;
            max-width: 80%;
            height: 250px;
            border: 1.5px solid black;
            border-radius: 15px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

            @media (min-width: 768px) {
                height: 300px;
            }

            @media (min-width: 1024px) {
                height: 400px;
            }
        }

        /* Estilo para el mensaje de dirección no disponible */
        p {
            flex: 1;
            font-size: 0.9rem;
            color: #ff4d4f;
            text-align: center;
            align-self: center;
        }
    }
}

/* Footer */
footer {
    background: var(--background-head);
    background-size: 200% 110%; 
    animation: shine;
    padding: 30px 0;
    text-align: center;

    h2 {
        font-size: 2rem;
        padding: .5rem 0;
        color: #d1a7a0;
        text-shadow: var(--white-glow), var(--pink-glow);
    }

    form {
        margin: 0 auto

    }

    input[type="email"] {
        padding: 10px;
        margin: 1rem auto;
        width: 300px;
        max-width: 100%;
        border: none;
        border-radius: 5px;
    }

    .btn {
        padding: 10px 10px !important;
        margin: 1rem 0;
        background-color: #fff !important;
        color: #cd557c !important;
        border: 2px solid #cd557c !important;
        border-radius: 5px !important;
        cursor: pointer !important;
        font-size: 1rem !important;

        /* Evitar que el botón se vea azul cuando se enfoca */
        &:focus {
            outline: none !important;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) !important;
        }

        /* Estilo cuando el botón se presiona */
        &:hover {
            background-color: #cd557c !important;
            color: white !important;
            transition: 0.5s ease-in;
        }
    }
}

@media only screen and (max-width: 600px)  {

    #carrousel {
        text-align: center;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        width: 10%;

        .content-all {
            width: 10px;
            margin: 0 auto;
            perspective: 2000px;
            position: relative;
        }

        .content-carrousel {
            width: 100%;
            position: absolute;
            animation: rotar 20s infinite linear;
            transform-style: preserve-3d;

            figure {
                width: 40%;
                height: 100px;
                overflow: hidden;
                position: absolute;
                box-shadow: 0px 0px 20px 0px black;
                transition: all 300ms;

                &:hover {
                    box-shadow: 0px 0px 20px 0px black;
                    transition: all 300ms;
                }
            }

           
            figure:nth-child(1) {
                transform: rotateY(0deg) translateZ(300px);
            }

            figure:nth-child(2) {
                transform: rotateY(32.72deg) translateZ(300px);
            }

            figure:nth-child(3) {
                transform: rotateY(65.45deg) translateZ(300px);
            }

            figure:nth-child(4) {
                transform: rotateY(98.18deg) translateZ(300px);
            }

            figure:nth-child(5) {
                transform: rotateY(130.90deg) translateZ(300px);
            }

            figure:nth-child(6) {
                transform: rotateY(163.63deg) translateZ(300px);
            }

            figure:nth-child(7) {
                transform: rotateY(196.36deg) translateZ(300px);
            }

            figure:nth-child(8) {
                transform: rotateY(229.09deg) translateZ(300px);
            }

            figure:nth-child(9) {
                transform: rotateY(261.81deg) translateZ(300px);
            }

            figure:nth-child(10) {
                transform: rotateY(294.54deg) translateZ(300px);
            }

            figure:nth-child(11) {
                transform: rotateY(327.27deg) translateZ(300px);
            }

            figure:nth-child(12) {
                transform: rotateY(360deg) translateZ(300px);
            }

            img {
                width: 220px;
                height: 170px;
                transition: all 300ms;

                &:hover {
                    transform: scale(1.3);
                    transition: all 300ms;
                }
            }

            &:hover {
                animation-play-state: paused;
                cursor: pointer;
            }
        }
    } 
}